// Define variables for your color scheme

// For example:
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$white: #fff;
$yellow: #FEC10E;
$red: #DA291C;

$color-orange: #FE5000;

$color-primary: #0032A0;
$color-primary-light-1: #0057B7;

$color-grey-dark: #373737;
$color-grey-light: #B9BEBF;
$color-grey-light-2: #EAE6DD;

$color-pink-light-2: #DCBFA6;
$color-pink-ligth-1: #ECBAA8;
$color-pink: #E31C79;

