// Specific CSS for your home-page
.head-section {
  padding: 2rem;
  background-image: linear-gradient(180deg, $color-grey-light-2 20%, $color-primary 20%, $color-primary 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-slide-section {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.cards-section {
  background-color: $color-primary;
  color: $white;
  margin-top: -5rem;
  padding: 5rem 3.5rem 55rem 3.5rem;
}
.communities-section {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

