<nav class="nav">
  <ul class="nav__items">
    <li class="nav__item"><a href="#" class="nav__link"><span>About us</span></a></li>
    <li class="nav__item"><span class="nav__brand">WALODO</span></li>
    <li class="nav__item"><a href="#" class="nav__link"></a><span>Get Started</span></li>
    <li class="nav__item"><a href="#" class="nav__link"><span>Login</span></a></li>
    <li class="nav__item nav__item"><span class="nav__rg">GB</span></li>
  </ul>
  <ul class="nav__items-bottom">
    <li class="nav__item-bottom"><a href="#" class="nav__link"><span>ORIGINAL LENSES</span></a></li>
    <li class="nav__item-bottom"><a href="#" class="nav__link"><span>VITAMIN LENSES</span></a></li>
    <li class="nav__item-bottom"><a href="#" class="nav__link"><span>BLUE LIGHT GLASSES</span></a></li>
    <li class="nav__item-bottom"><a href="#" class="nav__link"><span>eGIFT CARD</span></a></li>
  </ul>
</nav>
