.utility-margin-bt {
  margin-bottom: 1rem;
}

.utility-margin-top {
  margin-top: 1rem;
}

.utility-margin-top-sm {
  margin-top: 0.5rem;
}

.utility-margin-top-lg {
  margin-top: 2rem;
}

.utility-padding {
  padding: 2rem;
}
