.cards {
  background-color: $color-primary;
  color: $white;
  margin-top: -5rem;
  padding: 5rem 3.5rem 55rem 3.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: $color-primary-light-1;
  padding: 1rem;

  &__info-top {
    display: flex;
    flex-direction: column;
    align-items: center
  }

  &__info-bottom {
    display: flex;
    flex-direction: column;
    align-items: center
  }

  &__header{
    font-family: $body-font;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  &__parag {
    font-weight: 200;
    font-size: 1rem;
  }

  &__parag-sm {
    margin-top: 0.8rem;
    font-weight: 300;
    font-size: 0.8rem;
  }

  &__icons {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 1.5rem;

    width: 90%;

    &--item{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--border {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

.border {
  content: '';
  display: inline-block;
  border-bottom: 1px dotted $yellow;
  width: 90%;
}

.arrow {
  color: $yellow;
}

.margin-left { margin-left: 4rem; }
.margin-right { margin-right: 4rem; }
