.circles {
  display: flex;
  flex-direction: row;
  justify-content: center;

  display: none;

  &--item {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid $white;
    margin-top: 2rem;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.circle-active {
  background-color: $white;
}
