.communities {
  position: relative;
  &__container {
    background-color: $color-grey-light-2;

    position: absolute;
    top: -50rem;
  }

  &__card {
    background-color: $color-grey-light;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__box {

    &--1{
      width: 45%;
    }

    &--2{
      width: 60%;
    }

    &--3{
      width: 80%;
    }
  }

  &__icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__icon {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__tree {
    position: relative;

    &--line {
      content: '';
      display: inline-block;
      width: 100%;
      border-bottom: 1px dotted $color-orange;
      position: relative;

      &--sm{
        content: '';
        display: inline-block;
        height: 20%;
        border-left: 1px dotted $color-orange;

        &-1 {
          position: absolute;
          top: 52px;
          left: 30px;
        }

        &-2{
          position: absolute;
          top: 52px;
          right: 30px;
        }
      }


      &--lg {
        content: '';
        display: inline-block;
        height: 30%;
        border-left: 1px dotted $color-orange;

        position: absolute;
        top: 10%;
        left: 50%;
      }
    }
  }

  &__circle {
    content: '';
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: radial-gradient(circle at 50%, $yellow 25% ,rgba($yellow,.8) 24%, rgba($yellow, .3) 50%);

    position: relative;
    top: -1rem;

  }

}
