*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.container {
  // padding: 0 8rem;
  margin: 0 auto;

  @include respond(tablet) {
    padding: 0 2rem;
  }

  @include respond(tab-port) {
    padding: 0 4rem;
  }

  @include respond(tab-land) {
    padding: 0 6rem;
  }

  @include respond(bi-deskop) {
    padding: 0 8rem;
  }
}

.map__container{
  margin-top: 6rem;
  background-color: $white;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;


  &--image {
    width: 80%;
  }
}
