*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 8rem;
  margin: 0 auto;
}

.map__container{
  margin-top: 8rem;
  background-color: $white;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;


  &--image {
    width: 80%;
  }
}
