.dropdown {
  margin: 1rem 0.2rem;
  font-size: 1rem;
  font-weight: 200;
  font-family: $body-font;

  width: 80%;

  &--p{
    display: inline-block;
    font-family: $body-font;

  }

  &--text {
    display: none;
  }

  &__angle {
  position: relative;

  padding: 0.5rem;
  display: inline-block;

    &--up {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      opacity: 0;

      &:hover {
        color: $yellow;
      }
    }

    &--down {
      cursor: pointer;
      opacity: 1;
      transition: all .5s;
        &:hover {
          color: $yellow;
        }
    }
  }

  ///////////////////////////////'
  //Border-bottom

    &__border {
      content: '';
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid $white;

      transition: all .5s;
    }

  /////////////////////////////////
  // Dropdown Functionality

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + &__button &--text{
    display: block;
    animation: transitionDown 1s;
  }

  &__checkbox:checked + &__button &__angle &__angle--down {
    opacity: 0;
    animation: transitionUp 1s;
  }

  &__checkbox:checked + &__button &__angle &__angle--up {
    opacity: 1;
    animation: transitionDown 1s;
  }
}



