.header {
  padding: 2rem;
  background-image: linear-gradient(180deg, $color-grey-light-2 20%, $color-primary 20%, $color-primary 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;

  &__info {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-conten: center;

  }

  &__item {
    margin-bottom: 1rem;
  }

  &__photo{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
  }

  &__head {
    font-size: 2rem;
    font-weight: 400;
  }

  &__text {
    font-weight: 200;
    text-align: center;

    &--bold{
      font-weight: 300;
    }

  }

  &__logo {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__x {
    font-family: $headers-font;
    color: $red;
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;
  }
}
