.header {
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  &__info {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-conten: center;

  }

  &__photo{
    display: flex;
    justify-content: center;
    &--main {
      width: 90%;
      object-fit: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
      border-radius: 2px;
    }
  }
}
